/*
 * Global
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        max-width: 10px;
    }
       
    &::-webkit-scrollbar-track {
        background-color: $primary_color_dark;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary_color;
        outline: 1px solid $primary_color;
    }
}