/*
 * Panel content
 */ 

 .panel-container {
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .panel-row {
        flex: 1;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 0;

        .panel-item {
            max-width: 100%;
            max-height: 320px;
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 0;

            
            img {
                transition: filter .5s;
            }

            &:not(.col2-3):not(.col1-3) img {
                max-width: 100%;
            }

            a img:hover {
                filter: grayscale(.9);
            }

            &.col2-3 {
                flex-grow: 2;

                img {
                    width: 100%;
                    min-height: 100%;
                }
            }

            &.col1-3 {
                flex-grow: 1;

                img {
                    min-height: 100%;
                }
            }

            &.col1-3 a,
            &.col2-3 a {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }

            .caption-container {
                color: #ffffff;
                flex: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: rgba(0, 0, 0, .5);
                opacity: 0;
                transition: opacity .5s;

                &.top {
                    align-items: flex-start;
                }
                
                &.bottom {
                    align-items: flex-end;
                }
                
                &.right {
                    text-align: right;
                }
                
                &.left {
                    text-align: left;
                }
                
                .caption {
                    flex: 1;
                    font-size: 2vw;
                    font-weight: bold;
                    padding: 32px;
                }
            }
            
            &:hover .caption-container {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .panel-container .panel-row {
        flex-direction: column;

        .panel-item {
            &,
            img {
                max-width: 100%;
            }

            &.col2-3,
            &.col1-3 {
                max-width: 100%;
                flex: 6;
            }

            &.col1-3 img {
                max-height: unset;
            }

            .caption-container .caption {
                font-size: 5vw;
            }
        }
    }
}