/*
 * Single
 */

 .container .content .single {
    flex: 1;

    a {
        color: $text_color;
        background-color: $primary_color;
        transition: filter .2s;

        &:hover {
            filter: brightness(1.4);    
        }
    }

    h1 {
        font-size: 5em;
        font-weight: 700;
    }
    
    h2 {
        font-size: 3em;
        font-weight: 300;
    }
    
    h3 {
        font-size: 2em;
        font-weight: 700;
    }
    
    .divisor {
        margin-bottom: 3.2em;
    }
    
    p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.6em;
    }

    p + p,
    img + p,
    .caption + p {
        margin-top: 2em;
    }
    
    blockquote {
        font-size: 1.6em;
        font-style: italic;
        font-weight: 300;
        margin: 2em 0 2em 20%;
        padding-left: 1em;
        border-left: 4px solid $text_color;
    }  

    img {
        max-width: 100%;
        margin: 32px auto 0 auto;
        background-color: $secondary_color;

        &.view {
            transition: filter .5s;
            display: flex;

            &:hover {
                cursor: pointer;
                filter: opacity(.5);
            }
        }
    }

    .caption {
        display: flex;
        margin: 16px 0 0 0;
        font-size: .9em;
        text-align: center;
        color: $text_color;
        justify-content: center;
    }
}

.container .content * + .single {
    margin-top: 64px;
}

@media screen and (max-width: 900px) {
    .container .content .single blockquote {
        font-size: 1.4em;
    }    
}