/*
 * Source Viewer
 */

 #src-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    overflow-x: hidden;
    overflow-y: auto;
}

#src-viewer::-webkit-scrollbar {
    max-width: 10px;
}
   
#src-viewer::-webkit-scrollbar-track {
    background-color: #382a36;
}

#src-viewer::-webkit-scrollbar-thumb {
    background-color: #982a36;
    outline: 1px solid #982a36;
}

#src-viewer #close-viewer {
    position: fixed;
    top: 32px;
    right: 44px;
    padding: 32px;
    background-image: url('../../src/imgs/x-circle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 12;
}

#src-viewer img,
#src-viewer iframe,
#src-viewer video {
    max-width: 100%;
}

#src-viewer caption {
    margin-top: 16px;
    color: #ffffff;    
}