$primary_color: #982a36;
$primary_color_dark: #382a36;

$secondary_color: #282a36;
$secondary_color_dark: #21222c;

$text_color: #ffffff;

@import 'global';
@import 'container';
@import 'header';
@import 'content';
@import 'single';
@import 'profile';
@import 'panel';
@import 'boxes';
@import 'viewer';
@import 'footer';
@import 'popup';