/*
 * Global
 */

 * {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     text-decoration: none;
     list-style: none;
 }

/*
 * Container
 */
 
 .container {
     display: flex;
     flex-direction: row;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     color: #ffffff;
     background-color: #21222c;
 }

 .container header,
 .container section.content-container {
    flex: 1;
    min-height: 100%;
 }

 @media screen and ( max-width: 900px ) {
    .container {
        position: relative;
    }
 }

 /*
  * Header & Menu
  */

.container header {
    max-width: 64px;
    display: flex;
    flex-direction: column;
    background-color: #282a36;
    transition: max-width 1s;
    overflow: hidden;
    z-index: 4;
}

.container header:not(.mobile):hover {
    max-width: 192px;
}

.container header .logo,
.container header nav {
    flex: 1;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}

.container header a {
    display: flex;    
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    color: #ffffff;
    font-weight: bold;
}

.container header a .icon,
.container header a .text {
    flex: 1;
}

.container header a .icon  {
    padding: 0 20px;
    max-width: 64px;
}

.container header .logo {
    max-height: 64px;
    background-color: #ffffff;
}

.container header .logo a {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #21222c !important;
    background-color: transparent;
}

.container header .logo svg {
    stroke: #282a36;
    transition: transform 2s;
}

.container header .logo:hover svg {
    transform: rotate(360deg);
}

.container header nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
}

.container header nav ul {
    display: flex;
    flex-direction: column;
        
}

.container header nav a {
    background-color: transparent;
    transition: background-color .2s;
}

.container header nav a:hover {
    background-color: #382a36;
}

.container header nav a svg {
    transition: stroke .2s;
}

.container header nav a:hover svg {
    stroke: #982a36 !important;
}

.container header a .text {
    padding-left: 12px;
    text-align: left;
}

.container header #minimize-menu {
    flex: 1;
    width: 100%;
    display: flex;
    max-height: 64px;
    background-color: #282a36;
}

.container header #minimize-menu svg {
    transition: transform .2s;
}

.container header:not(.mobile):hover #minimize-menu svg,
.container header.open #minimize-menu svg {
    transform: rotate(-180deg);
}

@media screen and ( max-width: 900px ) {
    .container header.mobile {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        min-width: 64px;
        transition: min-width .6s;
    }

    .container header.mobile.open {
        min-width: 100%;
        transition: min-width .2s;
    }

    .container header .logo,
    .container header nav,
    .container header #minimize-menu {
        min-width: 192px;
        max-width: 45vw;
    }

    .container header nav,
    .container header #minimize-menu {
        background-color: #282a36;
    }

    .container header nav ul li {
        width: 100%;
        text-align: center;        
    }

    .container header nav a {
        flex: 1;
        width: 100%;
        text-align: center;
    }
    
    .container header #minimize-menu {
        display: flex;
    }
}

 /*
  * Content
  */

.container .content-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.container .content-container .content,
.container .content-container section.profile-container {
    flex: 1;
}

.container .content {
    width: 100%;
    height: 100%;
    padding: 64px 364px 64px 64px;
    overflow-x: hidden;
    overflow-y: auto !important;
    transition: padding .2s;
    display: flex;
    flex-direction: column;
}

.container .content.extended {
    padding: 64px 214px;
}

.container .content::-webkit-scrollbar {
    max-width: 12px;
}
   
.container .content::-webkit-scrollbar-track {
    background-color: #382a36;
}

.container .content::-webkit-scrollbar-thumb {
    background-color: #982a36;
    outline: 1px solid #982a36;
}

.container .content h1 {
    font-size: 5em;
    font-weight: 700;
}

.container .content h2 {
    font-size: 3em;
    font-weight: 300;
}

.container .content .divisor {
    margin-bottom: 3.2em;
}

.container .content p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
}

.container .content p + p {
    margin-top: 2em;
}

@media screen and (max-width: 900px) {
    .container .content,
    .container .content.extended {
        padding: 64px 64px 64px 128px;
    }
}


/*
 * Single
 */

 .container .content .single {
    flex: 1;
}

 /*
  * Profile
  */

.container section.profile-container {
    width: 300px;
    height: auto;
    max-height: 0;
    position: absolute;
    top: 0;
    right: 12px;
    padding: 64px 32px 64px 0;
}

.container section.profile-container.open {
    height: 100%;
    max-height: 100%;
}

.container .profile {
    width: 100%;
    padding: 48px 16px 16px 16px;
    background-color: #282a36;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .profile .profile-image {
    width: 64px;
    max-width: 64px;
    height: 64px;
    border: 2px solid #ffffff;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    background-color: #382a36;
    margin: 0 auto;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    overflow: hidden;
    cursor: pointer;
}

.container .profile #profile-close {
    width: 48px;
    height: 48px;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    color: #ffffff;
    background-color: #982a36;
    position: absolute;
    top: -24px;
    left: -24px;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .profile .profile-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.container .profile .profile-image img[src=""] {
    display: none;
}

.container .profile .profile-image .feather {
    position: absolute;
    stroke: #982a36;
    left: 50%;
    transform: translateY(75%) translateX(-50%);
    z-index: 1;
}

.container .profile .profile-description {
    flex: 1;
    width: 100%;
    text-align: left;
    color: rgba(255, 255, 255, .5);
}

.container .profile .profile-description .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .8);
    margin: 24px 0 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .profile .profile-description .title span,
.container .profile .profile-description .title::before,
.container .profile .profile-description .title::after {
    flex: 1;
}

.container .profile .profile-description .title::before,
.container .profile .profile-description .title::after {
    content: ' ';
    display: block;
    max-width: 30%;
    height: 2px;
    background-color: #ffffff;
}

.container .profile .profile-description .profile-skills {
    display: flex;
    flex-direction: column;
}

.container .profile .profile-description .profile-skills .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
}

.container .profile .profile-description .profile-skills .skill .feather,
.container .profile .profile-description .profile-skills .skill .skill-title,
.container .profile .profile-description .profile-skills .skill .progress-bar {
    flex: 1;
}

.container .profile .profile-description .profile-skills .skill .feather {
    max-width: 42px;
    stroke: #ffffff;
}

.container .profile .profile-description .profile-skills .skill .skill-title {
    max-width: 80px;
    padding: 0 12px;
}

.container .profile .profile-description .profile-skills .skill .progress-bar {
    height: 4px;
}

.container .profile .profile-description .profile-skills .skill .progress-bar .bar {
    background-color: #982a36;
    height: 100%;
}

.container .profile .profile-description .profile-skills .skill .progress-bar .bar[data-progress="85"] {
    max-width: 85%;
}

.container .profile .profile-description .profile-skills .skill .progress-bar .bar[data-progress="70"] {
    max-width: 70%;
}

.container .profile .profile-description .profile-skills .skill .progress-bar .bar[data-progress="60"] {
    max-width: 60%;
}

.container section.profile-container:not(.open) {
    width: 64px;
    height: 64px;
}

.container section.profile-container:not(.open) .profile {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.container section.profile-container:not(.open) .profile .profile-image {
    visibility: visible;
    right: 0;
}

@media screen and (max-width: 900px) {
    .container section.profile-container {
        height: auto;
        top: 64px;
        right: 44px;
        padding: 0;
    }

    .container section.profile-container.open {
        height: auto;
    }
}

/*
 * Box content
 */

 .container .boxes-container {
     flex: 1;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 32px 0 0 0;
 }

 .container .boxes-container .boxes-title,
 .container .boxes-container .boxes-list {
     flex: 1;
 }

 .container .boxes-container .boxes-title {
     min-width: 100%;
     font-size: 2em;
     line-height: 1em;
     font-weight: bold;
     text-align: center;
     padding: 32px 0;
 }

 .container .boxes-container .boxes-title small {
     display: block;
     width: 100%;
     font-size: .6em;
     line-height: 1em;
     font-weight: 300;
     margin-top: 16px;
 }

 .container .boxes-container .boxes-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .container .boxes-container .box {
     flex: 1;
     height: auto;
     border-radius: 8px 8px 8px 8px;
     -moz-border-radius: 8px 8px 8px 8px;
     -webkit-border-radius: 8px 8px 8px 8px;
     color: #21222c;
     background-color: #ffffff;
     margin-left: 16px;
     margin-right: 16px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow: hidden;     
     transition: border .4s;
     border: 4px solid #21222c;
 }

 .container .boxes-container.dark .box {
    color: #ffffff;
    background-color: rgba(40,42,54,1);
 }

 .container .boxes-container .box:hover {
    border-color: #982a36;
}

.container .boxes-container.dark .box:hover {
    border-color: #ffffff;
}

 .container .boxes-container .box:first-child {
     margin-left: 0;
 }

 .container .boxes-container .box:last-child {
    margin-right: 0;
}

.container .boxes-container .box .box-title,
.container .boxes-container .box .box-content,
.container .boxes-container .box .box-button {
    flex: 1;
    padding: 8px 16px;
    width: 100%;
}

.container .boxes-container .box .box-image {
    flex: 1;
    min-width: 100%;
    min-height: 128px;
    overflow: hidden;
    position: relative;
}

.container .boxes-container .box .box-image img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    transform: translateY(-50%);
}

.container .boxes-container .box .box-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.container .boxes-container .box .box-content {
    margin-bottom: 8px;
    flex-grow: 1;
}

.container .boxes-container .box .box-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.container .boxes-container .box .box-button * {
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #21222c;
    background-color: #cccccc;
    padding: 16px;
    border-right: 1px solid #999999;
    transition: background-color .5s;
}

.container .boxes-container .box .box-button *:last-child {
    border-right: 0;
}

.container .boxes-container .box .box-button *:hover {
    background-color: #999999;
}

.container .boxes-container.dark .box .box-button * {
    color: #ffffff;
    background-color: #982a36;
    border-right: 1px solid #382a36;
}

.container .boxes-container.dark .box .box-button *:hover {
    background-color: #382a36;
}

@media screen and ( max-width: 900px ) {
    .container .boxes-container .boxes-list {
        flex-direction: column;
    }

    .container .boxes-container .box {
        margin: 32px 0 0 0;
        flex: 1 auto;
    }
}